body {
  min-width: 372px;
}

.wrapper {
  min-height: 100vh;
}

.card-title {
  font-size: 1rem;
}

.dropdown-menu {
  background-color: #f8f9fa;
  color: #212529;
  font-size: 14px;
  border: 1px solid #ced4da;
  padding: 10px;
}

.dropdown-item {
  color: #333;
  font-size: 14px;
  padding: 5px 10px;
  text-align: center;
}

.dropdown-item:hover {
  color: #fff;
  background-color: #dc3545;
}

.img-zoom {
  transition: transform .5s ease;
}

.img-zoom:hover {
  transform: scale(1.2);
}

.errofont {
  color: #f00;
}

.erroinput {
  border: solid 1px #F00;
}

.error-message {
  display: none;
}

h1 {
  font-size: 2.5rem;
  color: #333;
}

h6 {
  font-size: 1rem;
  color: #666;
  margin-bottom: 2rem;
}

.form-control {
  border-radius: 0;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.form-label {
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  color: #333;
  margin-top: 3rem;
  margin-bottom: 1rem;
}